<ion-header>
  <ion-toolbar>
    <ion-title>Resultado</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resultado</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngIf="cepService.resultadoInput">
    <ion-card-header>
      <ion-card-title>
        CEP {{cepService.resultadoInput.cep}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Logradouro: {{cepService.resultadoInput.logradouro}}</p>
      <p>Bairro: {{cepService.resultadoInput.bairro}}</p>
      <p>Cidade: {{cepService.resultadoInput.localidade}}</p>
      <p>UF: {{cepService.resultadoInput.uf}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>